<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mod-dlm API Documentation</title>
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Primary Meta Tags -->
    <title>mod-dlm API Documentation</title>
    <meta name="title" content="mod-dlm API Documentation" />
    <meta name="description" content="mod-dlm is an open source project designed to create a domain-specific language (DSL) for describing prefab elements in the Architecture, Engineering, and Construction (AEC) industry. This project provides tools for defining entity models and automatically generating CRUD APIs, enabling suppliers to create and manage catalogs of their products easily." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mod.construction" />
    <meta property="og:title" content="mod-dlm API Documentation" />
    <meta property="og:description" content="mod-dlm is an open source project designed to create a domain-specific language (DSL) for describing prefab elements in the Architecture, Engineering, and Construction (AEC) industry. This project provides tools for defining entity models and automatically generating CRUD APIs, enabling suppliers to create and manage catalogs of their products easily." />
    <meta property="og:image" content="https://repository-images.githubusercontent.com/813134666/f875bc11-da7e-4889-9e18-fac8decf6745" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://mod.construction" />
    <meta property="twitter:title" content="mod-dlm API Documentation" />
    <meta property="twitter:description" content="mod-dlm is an open source project designed to create a domain-specific language (DSL) for describing prefab elements in the Architecture, Engineering, and Construction (AEC) industry. This project provides tools for defining entity models and automatically generating CRUD APIs, enabling suppliers to create and manage catalogs of their products easily." />
    <meta property="twitter:image" content="https://repository-images.githubusercontent.com/813134666/f875bc11-da7e-4889-9e18-fac8decf6745" />

    <link rel="icon" type="image/png" href="../assets/favicon.png">

    <!--
    ReDoc uses font options from the parent element
    So override default browser styles
    -->
    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
    {{{redocHead}}}
  </head>
  <body>
    {{{redocHTML}}}
  </body>
</html>
