

<div align="center">
    <a href="https://mod.construction/" target="_blank">
        <img src="https://raw.githubusercontent.com/mod-construction/mod-dlm-server-fastapi/main/mod-dlm-fastapi-server.png" alt="mod-dlm-logo"/>
    </a>



# mod-dlm-fastapi-server

[![build status](https://github.com/mod-construction/mod-dlm/actions/workflows/apidoc.yml/badge.svg)](https://github.com/mod-construction/mod-dlm/actions/workflows/apidoc.yml)
[![build status](https://github.com/mod-construction/mod-dlm/actions/workflows/publish.yml/badge.svg)](https://github.com/mod-construction/mod-dlm/actions/workflows/publish.yml)
[![npm version](https://img.shields.io/npm/v/@mod-construction/mod-dlm/latest)](https://www.npmjs.com/package/@mod-construction/mod-dlm)
[![License](https://img.shields.io/github/license/mod-construction/mod-dlm)](https://opensource.org/licenses/MIT)
</div>

**mod-dlm-server** is an open-source REST server for storing and querying element data described using the **[mod-dlm](https://github.com/mod-construction/mod-dlm)** domain-specific language (DSL).
This project provides tools for defining entity models and automatically generating CRUD APIs, enabling suppliers to create and manage catalogs of their products easily.

You can always find the most up-to-date API documentation here: [mod-dlm API Docs](https://mod-construction.github.io/mod-dlm/)


The server is generated automatically using the  [OpenAPI Generator](https://openapi-generator.tech).

- API version: {{appVersion}}
- Build date: {{generatedDate}}
- Generator version: {{generatorVersion}}
- Build package: {{generatorClass}}

## Requirements.

Python >= {{{generatorLanguageVersion}}}

## Installation & Usage

To run the server, please execute the following from the root directory:

```bash
pip install -r requirements.txt
PYTHONPATH=src uvicorn mod_dlm_server.main:app --host 0.0.0.0 --port {{serverPort}}
```

and open your browser at `http://localhost:{{serverPort}}/docs/` to see the docs.

## Running with Docker

To run the server on a Docker container, please execute the following from the root directory:

```bash
docker-compose up --build
```

## Tests

To run the tests:

```bash
pip3 install pytest
PYTHONPATH=src pytest tests
```
